.repo-card {
    width: 100% !important;
}

.card-no-cursor {
    cursor: default !important;
}

.repo-content {
    margin: 0 16px;
}

.repo-actions {
    float: right;
    padding: 0.5em !important;
}
