<div class="profile-container" *ngIf="(owner$ | async) as owner">

    <img class="material-icons" src="{{owner.avatar_url}}" width="65px"/>
    <h2>{{owner.login}}</h2>

</div>

<div class="result-content" *ngIf="(repos$| async) as repos">

    <h3 class="total-items">Number of Repo: {{repos.length}}</h3>

    <div class="card-container">

        <div class="card" *ngFor="let repo of repos">

            <a rel="noopener">
                <div class="card-content">
                    <div class="info">
                        <h3>{{repo.name}}</h3>
                        <span>Created at: {{repo.created_at | date: 'dd/MM/yyyy'}} </span>
                        <span>Language:{{repo.language}} </span>
                        <span>Open Issues: {{repo.open_issues_count}} </span>
                        <span>Size: {{repo.size}}</span><br/>
                    </div>
                    <!-- <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg> -->
                </div>
            </a>
            
        </div>  

    </div>

</div>
