<!-- Search Container -->
<div class="search-container">

    <mat-form-field class="search-user-from-field">
        <mat-icon matPrefix>search</mat-icon>
        <mat-label>Find user on Github</mat-label>
        <input matInput #text placeholder="Ex. Angular" (keyup.enter)="searchUser(text.value)">
        <mat-hint align="start">Press Enter to Search</mat-hint>
    </mat-form-field>

</div>

<!-- Results Container-->
<div class="result-content" *ngIf="gitUsers">

    <h3 class="total-items">Total: {{totalItems}}</h3>

    <div class="card" *ngFor="let user of gitUsers">
        <a rel="noopener" routerLink="{{user.login}}/repos">
            <mat-card class="user-card">
                <mat-card-header>
                    <div mat-card-avatar class="user-header-image"
                        [ngStyle]="{'background-image': 'url(' + user.avatar_url + ')'}">
                    </div>
                    <mat-card-title>{{user.login}}</mat-card-title>
                    <mat-card-subtitle>Type: {{user.type}} - Score {{user.score}}</mat-card-subtitle>
                </mat-card-header>
            </mat-card>
        </a>
    </div>
</div>

